<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Base url of the api-->
    <add key="BaseUrl" value="http://localhost:50726/api/Products" />

    <!--Json of the product object that has to created-->
    <add key="PostProduct" value="{'Id': '8','Description': 'Dell Inspiron','Model': 'Inspiron','Brand': 'Dell'}" />

    <!--The id of the product to be deleted before creating. The id should match with the id of the product object which you want to create. This is to avoid product already exist issue-->
    <add key="ProductIdToPost" value="8" />

    <!--The product object that has to be updated.-->
    <add key="PutProduct" value="{'Id': '1','Description': 'Dell Inspiron','Model': 'Inspiron','Brand': 'Dell'}" />
    <!--The id of the product to be updated.-->
    <add key="ProductIdToUpdate" value="1" />

    <!--The json of product object that has to be created before deleting. This is to avoid No product found issue while deleting.-->
    <add key="ProductToDelete" value="{'Id': '10','Description': 'Hp Envy','Model': 'Envy','Brand': 'Hp'}" />
    <!--The id of the product to be deleted.-->
    <add key="ProductIdToDelete" value="10" />

    <!--The id of the product to get-->
    <add key="ProductIdToGet" value="1" />


    <add key="ProductObject" value="Product" />
    <add key="GetRequestType" value="Get" />
    <add key="PostRequestType" value="Post" />
    <add key="PutRequestType" value="Put" />
    <add key="DeleteRequestType" value="Delete" />
  </appSettings>
</configuration>